@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");
body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: yellow;
}
#header {
  font-family: Inconsolata;
}
#row01 {
  border: solid 1px #000;
  height: 125px;
  background-color: grey;
}
#picOfMe {
  border-radius: 25px;
  padding: 20px; 
  width: 200px;
  height: 150px; 
}
